<%= form_with(model: chocolate_bar, local: true) do |form| %>
  <% if chocolate_bar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chocolate_bar.errors.count, "error") %> prohibited this chocolate_bar from being saved:</h2>

      <ul>
        <% chocolate_bar.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bar_name %>
    <%= form.text_area :bar_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :compamny_maker %>
    <%= form.number_field :compamny_maker %>
  </div>

  <div class="field">
    <%= form.label :review_date %>
    <%= form.datetime_select :review_date %>
  </div>

  <div class="field">
    <%= form.label :cocoa_percent %>
    <%= form.number_field :cocoa_percent %>
  </div>

  <div class="field">
    <%= form.label :bean_origin %>
    <%= form.text_area :bean_origin %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
