<p id="notice"><%= notice %></p>

<p>
  <strong>Country name:</strong>
  <%= @country.country_name %>
</p>

<p>
  <strong>Lattitude:</strong>
  <%= @country.lattitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @country.longitude %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
